@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
}

.card_container {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: #FFFDFA;
  box-shadow: 2px 2px 8px #ABABAB;
}

.card_text {
  margin: 1rem;
}

.app{
  @apply mx-16 relative flex flex-col
}

.head_text{
  @apply mt-10 mb-12 text-5xl font-bold sm:text-5xl
}
  
  .head_text2 {
    @apply text-2xl font-bold sm:text-5xl my-4
  }
  
  .nav_text {
    @apply text-lg font-bold
  }

  .nav_link {
    @apply text-main-black font-bold active:text-red-400
  }

  .desc {
    @apply leading-tight text-[#848484]
  }

  .secHead {
    @apply tracking-wider uppercase text-[#848484] font-bold pb-4
  }

  .insight {
    @apply text-3xl sm:text-5xl leading-snug
  }

  .secDesc {
    @apply mt-8 leading-relaxed
  }